.card {
  display: flex;
  margin-bottom: 20px;
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 10px;
}

.info {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  gap: 10px;
}

.inInfo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn {
  display: flex;
  height: fit-content;
  padding: 5px;
  justify-content: center;
  align-self: center;
  border-radius: 4px;
  outline: none;
  border: 1px solid gray;
}
